<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="transmission_block2" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <!--        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>-->
        <!--        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>-->
      </joint>
      <actuator name="${joint_name}_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <!--        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>-->
        <!--        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>-->
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="transmission_block" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <!--        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>-->
        <!--        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>-->
      </joint>
      <actuator name="${joint_name}_motor">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <!--        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>-->
        <!--        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>-->
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  
</robot>